<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>jc-chrome-prism</string>
	<key>connections</key>
	<dict>
		<key>9FC01494-DA47-41A5-91A4-104212995F5E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD17D968-BCCC-411D-B4C4-275A8D78B5D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A5B4E989-F7CC-44B7-AC39-9B9D2437BB8F</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Delete...</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>11FEE59A-B850-4534-8124-83F5C34F913B</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Edit config</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E0E14F52-F226-43E3-9429-1882E243B0B3</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Open Prism location in Finder</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DB57A4E2-25F1-49A9-9FDA-E6F3721372C9</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Rename this Prism</string>
			</dict>
		</array>
		<key>A5B4E989-F7CC-44B7-AC39-9B9D2437BB8F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB713C7B-8340-419E-B21C-BC73E213C27A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AD17D968-BCCC-411D-B4C4-275A8D78B5D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB713C7B-8340-419E-B21C-BC73E213C27A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DB57A4E2-25F1-49A9-9FDA-E6F3721372C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB713C7B-8340-419E-B21C-BC73E213C27A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jason Cheatham</string>
	<key>description</key>
	<string>Split Chrome into colorful pieces</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Chrome Prism</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from alfred_prism import Workflow
Workflow().do('start', '{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AD17D968-BCCC-411D-B4C4-275A8D78B5D8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>prism</string>
				<key>runningsubtext</key>
				<string>Finding prisms...</string>
				<key>script</key>
				<string>from alfred_prism import Workflow
Workflow().tell('list', '{query}')</string>
				<key>subtext</key>
				<string>Create, delete, or start a prism</string>
				<key>title</key>
				<string>prism</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9FC01494-DA47-41A5-91A4-104212995F5E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Chrome Prism</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CB713C7B-8340-419E-B21C-BC73E213C27A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from alfred_prism import Workflow
Workflow().do('delete', '{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A5B4E989-F7CC-44B7-AC39-9B9D2437BB8F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from alfred_prism import Workflow
Workflow().do('edit', '{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>11FEE59A-B850-4534-8124-83F5C34F913B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from alfred_prism import Workflow
Workflow().do('open', '{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E0E14F52-F226-43E3-9429-1882E243B0B3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>from alfred_prism import Workflow
Workflow().do('rename', '{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DB57A4E2-25F1-49A9-9FDA-E6F3721372C9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Usage
-----
* Type '+' to create a new prism.
* Hold down Alt to delete an existing prism.
* Hold down Cmd to edit a prism's config.
* Hold down Ctrl to open a prism in Finder.
* Hold down Shift to rename a prism.

Prism Config
------------
Prisms are configured with a simple JSON file. Currently, the only parameters are the name of the prism, a description, and a list of command line options that should be passed to Chrome.

Each entry in the options list should be a single command line option to Chrome, along with any arguments it takes, e.g.:

  options: ["--allow-file-access-from-files", "--country US"]

The options --no-first-run and --user-data-dir are always used, but are not listed in the config file. An up-to-date list of the available command line operations can be found at http://peter.sh/experiments/chromium-command-line-switches/.

Credits
-------
The idea for a Chrome instance manager came from Jeremy Mack (https://github.com/mutewinter).
The icon was created by Ethan Muller (http://dribbble.com/shots/951015-Chrome-Prism-Icon?list=tags&amp;tag=chrome).</string>
	<key>uidata</key>
	<dict>
		<key>11FEE59A-B850-4534-8124-83F5C34F913B</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>9FC01494-DA47-41A5-91A4-104212995F5E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A5B4E989-F7CC-44B7-AC39-9B9D2437BB8F</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>AD17D968-BCCC-411D-B4C4-275A8D78B5D8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>CB713C7B-8340-419E-B21C-BC73E213C27A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>DB57A4E2-25F1-49A9-9FDA-E6F3721372C9</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>E0E14F52-F226-43E3-9429-1882E243B0B3</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
